services:
  db:
    image: postgres:15
    container_name: call_center_operator_metrics_db
    ports:
      - "5444:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: call_center_operator_metrics
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: call_center_operator_metrics
    environment:
      - DATABASE_URL=postgresql://postgres:9876@db:5432/call_center_operator_metrics
    ports:
      - "8000:8000"
    volumes:
      - ./logs:/app/etl_daily.log
    depends_on:
      - db
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"


volumes:
  pgdata:
